<div class="hide-box-guide"></div>
<h1 class="guide-header">action plan</h1>

<div class="todo">

  <div class="reading-list">
    <%= image_tag "undraw_book_lover_mkck.svg", height: "100" %>
    <div class="todo-card">
      <h5>my reading list</h5>
      <ul>
        <div class="list">
          <% @reading_todos.each do |todo| %>
            <div class="">
              <div class="list-item">
                <input class="form-check-input position-static mr-3" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                <li><strong><%= todo.title %></strong></li>
              </div>
              <li><%= todo.description %></li>
              <%= link_to "", { action: "destroy", id: todo.id, list_id: @list.id, controller: "todos" }, method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-minus-circle" %>
            </div>
          <% end %>
        </div>
      </ul>
      <div class="btn todo-btn ">
        ➕
       </div>
    </div>
  </div>

  <div class="edu-list">
    <div class="todo-card">
      <h5>education & practice</h5>
      <ul>
        <div class="list">
          <% @education_todos.each do |todo| %>
          <div class="list-item">
            <input class="form-check-input position-static mr-3" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            <li><%= todo.title %></li>
            <%= link_to "", { action: "destroy", id: todo.id, list_id: @list.id, controller: "todos" }, method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-minus-circle" %>
          </div>
          <% end %>
        </div>
      </ul>
    </div>
    <%= image_tag "undraw_Graduation_ktn0.svg", height: "100" %>
  </div>

  <div class="online-list">
    <%= image_tag "undraw_online_articles_79ff.svg", height: "100" %>
    <div class="todo-card">
      <h5>online content</h5>
      <ul>
        <div class="list">
          <% @online_content_todos.each do |todo| %>
          <div class="list-item">
            <input class="form-check-input position-static mr-3" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            <li><%= todo.title %></li>
            <%= link_to "", { action: "destroy", id: todo.id, list_id: @list.id, controller: "todos" }, method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-minus-circle" %>
          </div>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
  <div class="form-container">
    <div class="form-pop">
      <%= simple_form_for([@list, @todo]) do |f| %>
      <%= f.input :category, collection: Todo.categories %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.submit 'Create' %>
      </div>
  </div>
  <% end %>

</div>

<div class="progress mx-5 my-5">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
