<h1 class="guide-header">action plan</h1>


<div class="todo">

  <div class="reading-list">
    <div>
      <%= image_tag "book_blue.svg", height: "100", class: "guide-img" %>
    </div>
    <div class="todo-card">
      <h5>my reading list</h5>
      <ul>
        <div class="list">
          <% @reading_todos.each do |todo| %>
            <div class="todo-hover">
              <div class="dlt-btn-div">
                <div class="list-item">
                  <input class="form-check-input position-static mr-3" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                  <li><strong><%= todo.title %></strong></li>
                </div>
                <div class="hide">
                  <%= link_to "", { action: "destroy", id: todo.id, list_id: @list.id, controller: "todos" }, method: :delete, data: { confirm: "Are you sure?" }, class: "dlt-btn fas fa-minus-circle ml-3" %>
                </div>
              </div>
              <li class="guide-description"><%= todo.description %></li>
            </div>
          <% end %>
        </div>
      </ul>
      <%= link_to "➕", "/todos/new", class: "todo-btn"%>
    </div>
  </div>

  <div class="edu-list">
    <div class="todo-card">
      <h5>education & practice</h5>
      <ul>
        <div class="list">
          <% @education_todos.each do |todo| %>
          <div class="todo-hover">
            <div class="list-item">
              <input class="form-check-input position-static mr-3" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              <li><%= todo.title %></li>
              <div class="hide">
                <%= link_to "", { action: "destroy", id: todo.id, list_id: @list.id, controller: "todos" }, method: :delete, data: { confirm: "Are you sure?" }, class: "dlt-btn fas fa-minus-circle ml-3" %>
              </div>
            </div>
           </div>
          <% end %>
          <%= link_to "➕", "/todos/new", class: "todo-btn"%>
        </div>
      </ul>
    </div>
    <div>
      <%= image_tag "graduation_blue.svg", height: "100", class: "guide-img"%>
    </div>
  </div>

  <div class="online-list">
    <div>
      <%= image_tag "online_content_blue.svg", height: "100", class: "guide-img" %>
    </div>
    <div class="todo-card">
      <h5>online content</h5>
      <ul>
        <div class="list">
          <% @online_content_todos.each do |todo| %>
          <div class="todo-hover">
            <div class="list-item">
              <input class="form-check-input position-static mr-3" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              <li><%= todo.title %></li>
              <div class="hide">
                  <%= link_to "", { action: "destroy", id: todo.id, list_id: @list.id, controller: "todos" }, method: :delete, data: { confirm: "Are you sure?" }, class: "dlt-btn fas fa-minus-circle ml-3" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <%= link_to "➕", "/todos/new", class: "todo-btn"%>
      </ul>
    </div>
  </div>

  <%= simple_form_for([@list, @todo]) do |f| %>
    <%= f.input :category, collection: Todo.categories %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>

</div>

<div class="progress mx-5 my-5">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
