<h2>possible suggestions</h2>
<div class="suggestion-carousel">
  <div id="new-suggestion-carousel-controls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">


  <% @careers.each_slice(2) do |pair|  %>
    <% css_class = (pair.first == @careers.first) ? "carousel-item active" : "carousel-item" %>
    <div class="<%= css_class %>">
      <div class="card-career-suggestion">
        <%= link_to career_path(pair[0]), class: "card-suggestion" do  %>
            <div class="card-suggestion-img">
              <%= cl_image_tag pair.first.photo.key, height: 400, width: 840 , crop: :fill %>
            </div>
            <div class="card-caption">
              <div>
                <h3><%= pair.first.title  %></h3>
                <p><%= pair.first.summary %></p>
              </div>
              <div>
                estrellitas
              </div>

            </div>

        <% end %>
        <% if pair.count == 2 %>
          <%= link_to career_path(pair[1]), class: "card-suggestion" do  %>
            <div class="card-suggestion-img">
              <%= cl_image_tag pair.last.photo.key, height: 400, width: 840, crop: :fill %>
            </div>
            <h3><%= pair.last.title  %></h3>
            <p><%= pair.last.summary %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

    </div>
    <a class="carousel-control-prev left" href="#new-suggestion-carousel-controls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next right" href="#new-suggestion-carousel-controls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
