<div class="career-banner" style="background-image: url('<%= cl_image_path @career.photo.key%>')">
  <div class="title-box">
    <h1><%= @career.title %></h1>
  </div>
</div>

<div class="career-summary page-section">
  <h3 class= "section-header">summary</h3>
  <p><%= @career.summary %></p>
</div>
<div class="labour-market-info page-section">
  <h3 class= "section-header">labour market</h3>
  <div class="info-box">
    <div class="icon-with-info">
      <div class="icon-market"> <i class="fas fa-money-bill-alt"></i> </div>
      <div class="info">
        <h4 class= "section-header">average entry salary (yearly)</h4>
        <p> <%= "#{@career.salary} €"%></p>
      </div>
    </div>
    <div class="icon-with-info">
      <div class="icon-market"><i class="fas fa-sign-in-alt"></i></div>
      <div class="info">
        <h4 class= "section-header">entry barriers</h4>
        <p> <%= @career.entry_barriers %></p>
      </div>
    </div>
    <div class="icon-with-info">
      <div class="icon-market"><i class="fas fa-people-arrows"></i></div>
      <div class="info">
        <h4 class= "section-header">social_interaction</h4>
        <p> <%= @career.social_interaction %></p>
      </div>
    </div>
    <div class="icon-with-info">
      <div class="icon-market"><i class="fas fa-globe-africa"></i></div>
      <div class="info">
        <h4 class= "section-header">internationality</h4>
        <p> <%= @career.international_flexibility%></p>
      </div>
    </div>
    <div class="icon-with-info">
      <div class="icon-market"><i class="fas fa-house-user"></i></div>
      <div class="info">
        <h4 class= "section-header">remote flexibility</h4>
        <p> <%= @career.remote_flexibility %></p>
      </div>
    </div>
    <div class="icon-with-info">
      <div class="icon-market"><i class="fas fa-clock"></i></div>
      <div class="info">
        <h4 class= "section-header">working hours flexibility</h4>
        <p> <%= @career.working_hour_flexibility %></p>
      </div>
    </div>
  </div>
</div>
<div class="career-details page-section">
  <h3 class= "section-header">detailed description</h3>
  <p> <%= @career.detailed_description %></p>
</div>
<div class="further-readings page-section">
  <h3 class= "section-header">further readings</h3>
  <div class="suggestion-carousel readings-carousel">
    <div id="new-suggestion-carousel-controls" class="carousel slide readings-carousel-element" data-ride="carousel" data-interval="false">
    <div class="carousel-inner readings-carousel-element">
      <div class="carousel-item active readings-carousel-element">
        <a class="further-reading-card wiki-card" href=<%="https://en.wikipedia.org/wiki/#{@career.title}"%>>
              <h3 class="blurred-background w-50">Wikipedia</h3>
        </a>
      </div>
      <% @books.each  do |book| %>
        <div class="carousel-item">
            <div class="card-further-reading">
             <div class="book-cover"><%= book[:cover].html_safe %></div>
              <div class="book-details"><%= book[:details].html_safe %></div>
            </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev left" href="#new-suggestion-carousel-controls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next right" href="#new-suggestion-carousel-controls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
</div>
