<div class="career-banner" style="background-image: url('https://images.unsplash.com/photo-1593800026667-ddee5cf4aba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
  <div class="blurred-background title-box">
    <h1><%= @career.title %></h1>
  </div>
</div>

<div class="career-summary page-section">
  <h3 class= "section-header">summary</h3>
  <p><%= @career.summary %></p>
</div>
<div class="labour-market-info page-section">
  <h3 class= "section-header">labour market</h3>
  <div class="info-box">
    <div class="right-icons-container">
      <div class="icon-with-info">
        <div class="icon-market"> <i class="fas fa-money-bill-alt"></i> </div>
        <div class="info">
          <h4 class= "section-header">average entry salary (yearly)</h4>
          <p> <%= @career.salary %></p>
        </div>
      </div>
      <div class="icon-with-info">
        <div class="icon-market"><i class="fas fa-sign-in-alt"></i></div>
        <div class="info">
          <h4 class= "section-header">entry barriers</h4>
          <p> <%= @career.entry_barriers %></p>
        </div>
      </div>
      <div class="icon-with-info">
        <div class="icon-market"><i class="fas fa-people-arrows"></i></div>
        <div class="info">
          <h4 class= "section-header">social_interaction</h4>
          <p> <%= @career.social_interaction %></p>
        </div>
      </div>
    </div>
    <div class="left-icons-container">
      <div id="flexibility-header">
        <div class="icon-market"><i class="fas fa-arrows-alt"></i></div>
        <div class="info">
          <h4 class= "section-header">flexibility</h4>
        </div>
      </div>
      <div class="flexibility-info">
        <div class="icon-with-info-flexibility">
          <div class="small-icon-market"><i class="fas fa-globe-africa"></i></div>
          <div class="info">
            <h4 class= "section-header">international</h4>
            <p> <%= @career.entry_barriers %></p>
          </div>
        </div>
        <div class="icon-with-info-flexibility">
          <div class="small-icon-market"><i class="fas fa-house-user"></i></div>
          <div class="info">
            <h4 class= "section-header">remote</h4>
            <p> <%= @career.remote_flexibility %></p>
          </div>
        </div>
        <div class="icon-with-info-flexibility">
          <div class="small-icon-market"><i class="fas fa-clock"></i></div>
          <div class="info">
            <h4 class= "section-header">working hours</h4>
            <p> <%= @career.working_hour_flexibility %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="career-details page-section">
    <h3 class= "section-header">detailed description</h3>
    <p> <%= @career.detailed_description %></p>
  </div>
 <div class="further-readings page-section">
  <h3 class= "section-header">further readings</h3>
  <div class="suggestion-carousel">
    <div id="new-suggestion-carousel-controls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="further-reading-card">
              <h3>Wikipedia</h3>
        </div>
      </div>
      <% @book_groups.each  do |book_group| %>
        <div class="carousel-item">
          <% book_group.each do |book| %>
            <div class="card-further-reading">
              <%= book[:cover].html_safe %>
              <br>
              <%= book[:title].html_safe %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev left" href="#new-suggestion-carousel-controls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next right" href="#new-suggestion-carousel-controls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
  </div>
</div>
