<div class="d-block w-300 question">
  <h3 class="animate__animated animate__pulse"> <%= question.question %> </h3>
  <div>
    <label class="agree">disagree</label>
    <input type="radio" id="question-<%= question.id %>-1" name="question-<%= question.id %>" value="1"></input>
    <input type="radio" id="question-<%= question.id %>-2" name="question-<%= question.id %>" value="2"></input>
    <input type="radio" id="question-<%= question.id %>-3" name="question-<%= question.id %>" value="3"></input>
    <input type="radio" id="question-<%= question.id %>-4" name="question-<%= question.id %>" value="4"></input>
    <input type="radio" id="question-<%= question.id %>-5" name="question-<%= question.id %>" value="5"></input>
    <input type="radio" id="question-<%= question.id %>-6" name="question-<%= question.id %>" value="6"></input>
    <label class="agree">agree</label>
  </div>
</div>



<!-- <div>
    <label class="disagree" for="">disagree</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio1 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio2 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio3 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio3" value="option3">
    <label class="form-check-label" for="inlineRadio3"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio3 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio4" value="option4">
    <label class="form-check-label" for="inlineRadio1"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio2 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio5" value="option5">
    <label class="form-check-label" for="inlineRadio2"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio1 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio6" value="option6">
    <label class="form-check-label" for="inlineRadio3"></label>
  </div>
  <div>
    <label class="agree" for="">agree</label>
  </div> -->
