<div class="d-block w-300 question">
  <h3 class="animate__animated animate__pulse"> <%= question.question %> </h3>
    <form action="">
     <label class="agree" for="one">disagree</label>
      <input type="radio" id="one" name="scale" value="1"></input>
      <input type="radio" id="two" name="scale" value="2"></input>
      <input type="radio" id="three" name="scale" value="3"></input>
      <input type="radio" id="four" class="" name="scale" value="4">
      <input type="radio" id="five" class="" name="scale" value="5">
      <input type="radio" id="six" class="" name="scale" value="6">
     <label class="agree" for="six">agree</label></input>
    </form>
</div>



<!-- <div>
    <label class="disagree" for="">disagree</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio1 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio2 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio3 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio3" value="option3">
    <label class="form-check-label" for="inlineRadio3"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio3 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio4" value="option4">
    <label class="form-check-label" for="inlineRadio1"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio2 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio5" value="option5">
    <label class="form-check-label" for="inlineRadio2"></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="inlineRadio1 form-check-input" type="radio" name="question-<%= question.id %>" id="inlineRadio6" value="option6">
    <label class="form-check-label" for="inlineRadio3"></label>
  </div>
  <div>
    <label class="agree" for="">agree</label>
  </div> -->
